@import "../colors.scss";

.main-layout {
  border: 5px solid $background;
  display: flex;
  flex-direction: row;
  height: 1070px;
  width: 1910px;


  .vidja-game {
    height: 100%;
    width: 1313px;
  }

  .panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    width: 607px;

    .vertical-spacer {
      background-color: $background;
      height: 30px;
    }

    .web-cam {
      height: 406px;
      display: flex;
      flex-direction: row;

      .spacer {
        background-color: $background;
        width: 34px;
        height: 100%;
      }

      .camera-box {
        background: none;
        width: 549px;
      }
    }

    .the-rest {
      background-color: $background;
      flex-grow: 1;
    }
  }
}
