.lightning {
  animation: gradient 50s linear infinite;
  background-size: 600%;
  height: 1080px;
  position: absolute;
  width: 1920px;
  overflow: none;
  z-index: 1;
}

@keyframes gradient {
	0% {
    background: #002977;
	}
	25% {
    background: #0039aa;
	}
	50% {
    background: #101030;
	}

  75% {
    background: #0039aa;
  }

  100% {
    background: #002977;
  }

}

.clouds {
  height: 300px;
  position: absolute;
  width: 1920px;
  z-index: 7;
}

.rain {
  height: 1080px;
  width: 1920px;
  position: absolute;
  z-index: 5;

  .rain-back {
    z-index: 2;
    opacity: 0.5;
    top: -100px;
    z-index: 3;
    height: 1080px;
    width: 1920px;
    position: absolute;
  }

  .rain-mid {
    z-index: 3;
    top: -35px;
    height: 1080px;
    width: 1920px;
    position: absolute;
    opacity: 0.75;
  }

  .rain-front {
    z-index: 4;
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: 30px;
  }
}


.darken {
  background-color: #000000;
  height: 1080px;
  opacity: 0.4;
  position: absolute;
  width: 1920px;
  z-index: 10;
}

.info {
  align-items: center;
  color: #efefef;
  display: flex;
  flex-direction: column;
  height: 1080px;
  position: absolute;
  width: 1920px;
  z-index: 20;

  .spacer {
    height: 550px;
  }


  .title {
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 10px #eee, 0 0 40px #eee, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
  }

  .timer {
    font-size: 3rem;
    font-weight: bold;
    height: 3rem;
    margin-top: 3rem;
    text-shadow: 0 0 50px #ddd, 0 0 100px #ccc;
  }

  .stream-preview {
    font-size: 2rem;
    margin-top: 10rem;
    max-width: 50%;
  }
}
