.splash-controls {
  display: flex;
  flex-direction: row;

  .hr {
    height: 1px;
    background-color: #eeeeee;
    margin: 5px auto;
  }

  .content {
    display: flex;
    flex-basis: 50%;

    form {
      width: 90% !important;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    button {
      margin-left: 10px !important;
    }
  }
}
