$anime-time: 12s;
$path-width: 2px;
$clip-distance: .03;
$path-width: 3px;
$main-color: rgb(126, 126, 156);
$highlight-color: rgba(126, 126, 126, 0.4);

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes glow {
  0%, 100% {
    box-shadow: inset 0 0 0 8px rgba($main-color, 1);
  }
  25% {
    box-shadow: inset 0 0 0 8px rgba($main-color, 0.8);
  }
  50% {
    box-shadow: inset 0 0 0 8px rgba($main-color, 0.6);
  }
  75% {
    box-shadow: inset 0 0 0 8px rgba($main-color, 0.8);
  }
}

@mixin animation($str) {
  animation: #{$str};
}

// Figuring this out took forever.
@mixin clipframes($name, $height, $width, $path-width) {
  $clip-large: $width * (1 + $clip-distance * 2);
  $clip-small: $height * (1 + $clip-distance * 2);
  $offset: ($height / 33) - 4;
  @keyframes #{$name} {
    // Top left Box
    0%, 100% {
      clip: rect(0px, $clip-small / 2, $clip-small / 2, 0px);
    }
    // Full left side
    12.5% {
      clip: rect(
        0px,
        $path-width,
        $clip-small + $path-width + $offset,
        0px
      );
    }
    // Bottom Left Box
    25% {
      clip: rect(
        $clip-small / 2 + $path-width,
        $clip-small / 2,
        $clip-small + $path-width + $offset,
        0px
      );
    }
    // Full bottom
    37.5% {
      clip: rect(
        $clip-small,
        $clip-large + $path-width,
        $clip-small + $path-width + $offset,
        0px
      );
    }
    // Bottom Right Box
    50% {
      clip: rect(
        $clip-small / 2 + $path-width,
        $clip-large,
        $clip-small + $path-width + $offset,
        $clip-large - ($clip-small / 2)
      );
    }
    // Right Side
    62.5% {
      clip: rect(
        0px,
        $clip-large,
        $clip-small + $path-width + $offset,
        $clip-large - $path-width
      );
    }
    // Top Right Box
    75% {
      clip: rect(
        0px,
        $clip-large + $path-width,
        $clip-small / 2,
        $clip-large - ($clip-small / 2)
      );
    }
    // FULL TOP
    87.5% {
      clip: rect(
        0px,
        $clip-large + $path-width,
        $path-width + 1,
        0px
      );
    }
  }
}

// Named keyframes need to be created before using the @frame mixin.
@include clipframes(cameraFrames, 200px, 250px, $path-width);
@include clipframes(testFrames, 300px, 400px, $path-width);

@mixin frame($height, $width, $name) {
  position: absolute;
  width: $width;
  height: $height;
  margin: auto;
  background: transparent;
  color: $main-color;
  @include animation('glow 5s linear infinite');
  box-shadow: inset 0 0 0 8px rgba($main-color, .5);

  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width;
    color: $highlight-color;

    animation-name: #{$name};
    animation-duration: $anime-time;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &::before {
    animation-delay: $anime-time * -.5;
  }
}

.main-window {
  padding: 50px;

  .camera-frame {
    @include frame(200px, 250px, cameraFrames);
  }

  .test-frame {
    @include frame(300px, 400px, testFrames);
    top: 500px;
    left: 500px;
  }

}
