<div local-class="main-window">
  <div local-class="content-frame"></div>

  {{!-- Right Side Panel --}}
  <div local-class="camera-frame"></div>
  <div local-class="sub-goal-frame"></div>
  <div local-class="twitch-chat-frame"></div>

  {{!-- Bottom Panel --}}
  <div local-class="spotify-frame"></div>
  <div local-class="king-frame"></div>
</div>
