<div local-class="main-window">
  <div local-class="window-wrapper">
    <div local-class="panel">
      <div local-class="camera"></div>
    </div>
    <div local-class="footer">

    </div>
  </div>
</div>
