# See https://help.github.com/ignore-files/ for more about ignoring files.
__pycache__
*.swp

# compiled output
/overlay/dist/
/overlay/tmp/

# dependencies
/overlay/bower_components/
/overlay/node_modules/
/overlay/config/secrets.js

# misc
/overlay/.env*
/overlay/.pnp*
/overlay/.sass-cache
/overlay/connect.lock
/overlay/coverage/
/overlay/libpeerconnection.log
/overlay/npm-debug.log*
/overlay/testem.log
/overlay/yarn-error.log

# ember-try
/overlay/.node_modules.ember-try/
/overlay/bower.json.ember-try
/overlay/package.json.ember-try

_secrets.py

/stream_backend/tmp/
/stream_backend/api/utils/_secrets.py
/stream_backend/db.sqlite3
/stream_backend/uploads/
