.sound {
  background-color: #007bff;
  border-radius: .25rem;
  height: 3.4rem;
  margin-bottom: .25rem;
  padding: .25rem .5rem;
  width: 100%;

  .add-new-sound {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;

    .sound-name-input {
      width: 10rem;
    }

    .upload-button {
      white-space: nowrap;
    }
  }

  .sound-display {
    align-items: center;
    display: flex;
    flex-direction: row;


    .sound-name {
      color: white;
      font-weight: bold;
    }


  }

  .actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    a.action {
      font-size: 1.3rem;
      margin-left: 0.5rem;

      svg {
        color: white;
        cursor: pointer;
      }
    }
  }
}
