<div style="{{cloudPosition}}" local-class="cloud-wrapper">
  <div local-class="cloud cloud-back"></div>
  <div local-class="cloud cloud-mid"></div>
  <div local-class="cloud cloud-front"></div>
</div>
