<div local-class="twitch-chat-controls">
  <Utils::ToggleButton @positiveText="Emotes Enabled" @negativeText="Emotes Disabled" @value={{emotesEnabled}} @callback={{action "toggleEmotes"}} />
  <Utils::ToggleButton @positiveText="Redemptions Enabled" @negativeText="Redemptions Disabled" @value={{redemptionsEnabled}} @callback={{action "toggleRedemptions"}} />
</div>
