<div local-class="spotify-controls">
  <p class="basic">Spotify is {{#unless isPolling}}not {{/unless}}polling</p>
  <Utils::ToggleButton @positiveText="Stop Polling" @negativeText="Start Polling" @value={{isPolling}} @callback={{action "togglePolling"}} />

  <p class="basic">Spotify Plugin is {{#unless isVisible}}not {{/unless}}visible</p>
  <Utils::ToggleButton @positiveText="Hide Spotify Plugin" @negativeText="Show Spotify Plugin" @value={{isVisible}} @callback={{action "toggleVisibility"}} />
</div>
