.sound-board {
  margin-top: 1rem;
}

.create-new {
  height: 3.4rem;
  margin-bottom: 0.6rem;
  width: 50%;
}

.actual-sounds {
  height: 800px;
  overflow-y: scroll;
  padding-right: .25rem;
  width: 50%;
}
