<div local-class="obs-scripts">
  <div local-class="actual-scripts">
    {{#each scripts as |script|}}
      <Controls::ObsScripts::ScriptItem @script={{script}} />
    {{/each}}
  </div>
</div>
