.swooshy-background {
  background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(25, 25, 25), rgb(50, 50, 50), rgb(70, 70, 70));
	background-size: 400% 400%;
	animation: gradient 60s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
