<div class="layout">
  {{#each-in this.items as |key props|}}
    <div style="{{props.cssString}}">
      {{{props.html}}}
    </div>
  {{/each-in}}
  <div class="shine" style="top: 25.5412%; left: 2.90014%;"></div>
</div>
