<div local-class="melee-layout">
  <div local-class="vidja-game">
    <div local-class="name-space"></div>
    <div local-class="name-plates">
      <div local-class="name-plate-spacer"></div>
      <div local-class="name-wrapper">
        <span local-class="player p1">P1</span>
        <span local-class="name">Me</span>
      </div>
      <div local-class="name-wrapper">
        <span local-class="player p2">P2</span>
        <span local-class="name">BrickLee</span>
      </div>
      <div local-class="name-wrapper">
        <span local-class="player p3">P3</span>
        <span local-class="name">Noah</span>
      </div>
      <div local-class="name-wrapper">
        <span local-class="player p4">P4</span>
        <span local-class="name">Bee Yee</span>
      </div>
    </div>
  </div>
  <div local-class="panel">
    <div local-class="vertical-spacer"></div>
    <div local-class="web-cam">
      <div local-class="spacer"></div>
      <div local-class="camera-box"></div>
      <div local-class="spacer"></div>
    </div>
    <div local-class="the-rest">

    </div>
  </div>
</div>
