<div local-class="melee-layout">
  <div local-class="vidja-game">
    <div local-class="name-space"></div>
    <div local-class="name-plates">
      <div local-class="name-plate-spacer"></div>
      <div local-class="name-wrapper">
        {{#if playerNames.player1}}
          <span local-class="player p1">P1</span>
          <span local-class="name">{{playerNames.player1}}</span>
        {{/if}}
      </div>
      <div local-class="name-wrapper">
        {{#if playerNames.player2}}
          <span local-class="player p2">P2</span>
          <span local-class="name">{{playerNames.player2}}</span>
        {{/if}}
      </div>
      <div local-class="name-wrapper">
        {{#if playerNames.player3}}
          <span local-class="player p3">P3</span>
          <span local-class="name">{{playerNames.player3}}</span>
        {{/if}}
      </div>
      <div local-class="name-wrapper">
        {{#if playerNames.player4}}
          <span local-class="player p4">P4</span>
          <span local-class="name">{{playerNames.player4}}</span>
        {{/if}}
      </div>
    </div>
  </div>
  <div local-class="panel">
    <div local-class="vertical-spacer"></div>
    <div local-class="web-cam">
      <div local-class="spacer"></div>
      <div local-class="camera-box"></div>
      <div local-class="spacer"></div>
    </div>
    <div local-class="the-rest">

    </div>
  </div>
</div>
